main{
 
    h1 {
        font-family: $letra1;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
        border: 50px;
        color: rgba(0, 0, 0, 0.719);
        margin: 45px 12px 2px 30px;
    }
    h2 {
        font-family: $letra2;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
        border:50px;
    
    
    }

    
    .inicio__texto{
        display:flex;
        font-family: $letra2;
        font-size: 30px;
        max-width: max-content;
        height: 100px;
        color: rgba(74, 6, 95, 0.74);
        margin: 10rem 2rem 5rem 2rem;
        border-color: rgb(7, 7, 7);
        position: relative;
    
    }
    .inicio__imagen{
        width: 320px;
        height: 320px;
        border-radius: 20%;
        margin: 4rem 2rem 2rem 2rem;
    }

    .promo{
        margin-bottom: 350px;
        margin-top: 50px;
    }

    .anima{
        display: flex;
        font-size: 50px;
        margin: 4rem 3rem 2rem 1rem;
        min-height: 15vh;    
    }
    .promo__texto{
        font-family: $letra2;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
        border:50px;
    }
    .servicio{
        display: flex;
        font-size: 50px;
        margin: 4rem 3rem 2rem 1rem;
        min-height: 15vh;
    
    }

    .servicio__texto{
        font-family:$letra2;
        font-size: 30px;
        max-width: max-content;
        height: 100px;
        color: rgba(74, 6, 95, 0.74);
        margin: 8rem 2rem 2rem 4rem;
        border-color: rgb(7, 7, 7);
        position: relative;
    
    }

    .servicio__imagen{
        width: 320px;
        height: 320px;
        border-radius: 20%;
        margin: 2rem 2rem 2rem 2rem;
    }
    .nosotros__texto{
        font-family:$letra2;
        font-size: 20px;
        max-width: max-content;
        height: 100px;
        color: rgba(74, 6, 95, 0.74);
        margin: 4rem 2rem 6rem 1rem;
        border-color: rgb(7, 7, 7);
        position: relative;
    }
    .nosotros__imagena{
        width: 320px;
        height: 250px;
        border-radius: 20%;
        margin: 2rem 2rem 2rem 2rem;
    }
    .nosotros__imagenb{
        width: 320px;
        height: 320px;
        border-radius: 20%;
        margin: 2rem 2rem 2rem 2rem;
    }
    .contacto__texto{
        display: flex;
        font-size: 30px;
        margin:center;
        min-height: 15vh;
    }
    
    .contacto__formulario{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form{
        width: 450px;;
    }

    .contacto__mapa{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }

}