.nosotros__texto{
    font-family:$letra2;
    font-size: 20px;
    max-width: max-content;
    height: 100px;
    color: rgba(74, 6, 95, 0.74);
    margin: 4rem 2rem 6rem 1rem;
    border-color: rgb(7, 7, 7);
    position: relative;
}
.nosotros__imagena{
    width: 320px;
    height: 250px;
    border-radius: 20%;
    margin: 2rem 2rem 2rem 2rem;
}
.nosotros__imagenb{
    width: 320px;
    height: 320px;
    border-radius: 20%;
    margin: 2rem 2rem 2rem 2rem;
}