.promo{
    margin-bottom: 350px;
    margin-top: 50px;
}

.anima{
    display: flex;
    font-size: 50px;
    margin: 4rem 3rem 2rem 1rem;
    min-height: 15vh;    
}
.promo__texto{
    font-family: $letra2;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    border:50px;
}