$letra1: 'Ubuntu', sans-serif;
$letra2: 'Merriweather', serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../Multimedia/fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{

    .navegar{
        background-image: linear-gradient(to right, rgb(0, 115, 255), rgb(134, 96, 240), rgb(132, 6, 164));
    }
    .logo{
        width: 75px;
        border-radius: 50%;
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom: 10px; 
    }
}
main{


    h1 {
        font-family: $letra1;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
        border: 50px;
        color: rgba(0, 0, 0, 0.719);
        margin: 45px 12px 2px 30px;
    }
    h2 {
        font-family: $letra2;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
        border:50px;
    }

    @import "inicio";
    @import "promociones";
    @import "servicios";
    @import "nosotros";
    @import "contacto";

}